<div class="col-lg-3 col-md-4 col-sm-6">
          <figure>
                                               
              <img class="object_photo" src="./images/4.jpg" alt="1" title="" />
                                  
              <figcaption>
                  <a href="" class="photo"><h2>4.jpg</h2></a>                  
              </figcaption>

          </figure>
</div>