<section id="container">



<div id="filter">

		        <div id="filter_webdesign"></div>
		        <p class="webdesign_p">webdesign</p>
		        <div id="filter_app"></div>
		        <p class="app_p">app</p>
		        <div id="filter_3D"></div>
		        <p class="drieD_p">3D</p>
		        <div id="filter_illustratie"></div>
		        <p class="illustration_p">illustration</p>
		        <div class="dummy"></div>

</div>
<div id="search_cont">
		            <div id="logo_app">

		                <p id="insp_header">inspeyer</p>
		                <div id="eye_header">
		                  <img id="eye_bg_header" src="images/eye_bg.svg" alt="eye background" width="43">
		                  <img id="eye_pupil_header" src="images/eye_pupil.svg" alt="eye pupil" width="43">
		                  <img id="eye_mask_header" src="images/eye_mask.svg" alt="eye mask" width="43">
		                </div>
		                <p class="hide" id="r_header">r</p>
		          
		            </div>
		            <div class="dummy"></div>
		            <input type="text" name="search" value="" placeholder="Search" class="search"/>
</div>

<div id="add_insp">+</div>

<div id="uploaden" class="hide">
        <div id="bg_uploaden"></div>
        <form id="form_upload" action="?" method="post" accept-charset="utf-8">

            <fieldset>
              <div id="form_close_uploaden"><img class="form_close_cross" src="images/form_close.svg" alt="cross" width="10"></div>

              <h1>Upload</h1>


              <input type="text" name="txtTitle" id="txtTitle" placeholder="Title">
             

              <textarea type="text" name="txtWat" id="txtWat" width="300" placeholder="Description"></textarea>
              <select>
                <option>Webdesign</option>
                <option>App</option>
                <option>3D</option>
                <option>Illustration</option>
              </select>
              <input type="file" name="image" class="image" value=""/>

              <input type="submit" name="btnSubmitUpload" value="Upload" id="btnSubmitUpload" />
            </fieldset>

          </form>
        </div>
	        

  </section>