<!doctype html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>DevineTalk</title>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css"/>
  {{{_sections.head}}}

</head>
<body>



  {{{content}}}


  {{{_sections.scripts}}}
 <script src="/js/tracking.js"></script>
 <script src="/js/dat.gui.js"></script>
 <!--<script src="/js/stats.min.js"></script>-->
 <script src="/js/color_camera_gui.js"></script>
 <script src="/js/jquery.min.js"></script>

  <script src="/js/Three.js"></script>
  <script src="/js/ColladaLoader.js"></script>
  <script src="https://code.createjs.com/tweenjs-0.6.2.min.js"></script>
 <script src="/js/script.js"></script>



</body>
</html>
