html {
  box-sizing: border-box;
}

video, canvas {

    margin-left: 100px;
    margin-top: 35px;
    position: absolute;

}

video{

transform: rotateY(180deg);
-webkit-transform:rotateY(180deg); /* Safari and Chrome */
-moz-transform:rotateY(180deg);

}

.demo-container{



}

*, *:before, *:after {
  box-sizing: inherit;
}

main {
  display: block;
}

.form,
header,
.bg-danger {
	max-width: 400px;
	padding: 15px;
	margin: 0 auto;
}

.talks {
  max-width: 800px;
  padding: 15px;
  margin: 0 auto;
}

.talk {
  margin-bottom: 5px;
  font-size: 1.2em;
}

.user {
  font-weight: bold;
}

.meta {
  font-size: 0.9em;
}

header {
	padding-bottom: 0;
}

.form .form-control {
	position: relative;
	height: auto;
	padding: 10px;
	font-size: 16px;
}

textarea {
	z-index: 1;
}

.talks li {
	margin-bottom: 10px;
	padding: 10px;
	display: block;
	box-shadow: 0 0 5px #ddd;
}
